<template name="layout">
	<div class="container">
		<ul class="nav nav-pills">
				<li role="presentation">
          <a href="{{pathFor 'home'}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true">
            </span>
             Home
           </a>
         </li>
  			<li role="presentation">
  				<a href="{{pathFor 'about'}}">About</a>
  			</li>
				<li role="presentation">
  				<a href="{{pathFor 'issues'}}">Issues</a>
  			</li>
        <li role="presentation">
  				<a href="{{pathFor 'symptoms'}}">Consult</a>
  			</li>
				<li role="presentation">
  				<a href="{{pathFor 'comments'}}">Comments</a>
  			</li>
				<li role="presentation">
  				<a href="{{pathFor 'testing'}}">Testing</a>
  			</li>
				<li role="presentation">
  				<a href="{{pathFor 'setting'}}">Settings</a>
  			</li>
        <li>
          {{> loginButtons}}
        </li>
		</ul>
	{{> yield}}
	</div>
</template>
